@use "../../components/variables.scss";

@use "../../components/accordion.scss";
@use "../../components/callout.scss";
@use "../../components/code-block.scss";
@use "../../components/dot-leader.scss";
@use "../../components/image-comparison.scss";
@use "../../components/info-list.scss";
@use "../../components/label.scss";
@use "../../components/label__grouped.scss";
@use "../../components/read-more.scss";
@use "../../components/speed-dial.scss";
@use "../../components/spoiler__hover.scss";
@use "../../components/spoiler__click.scss";
@use "../../components/table.scss";
@use "../../components/timeline-list.scss";
@use "../../components/input.scss";
@use "../../components/toggle.scss";
@use "../../components/tooltip.scss";
@use "../../components/tree-list.scss";

@use "../../components/decorations/drop-cap.scss";
@use "../../components/decorations/in-development-sign.scss";
@use "../../components/decorations/link-decoration__external.scss";
@use "../../components/decorations/link-decoration__profile-page.scss";
@use "../../components/decorations/star-rating.scss";
@use "../../components/decorations/z_fingers.scss";

.custom-speed-dial {
  position: absolute !important;
  bottom: 1.6em !important;
  right: 1.6em !important;
  margin-left: auto !important;
}
.custom-speed-dial-home {
  position: relative !important;
  bottom: unset !important;
  right: unset !important;
  padding: 0 !important;
  padding-right: .5em !important;
}
.custom-speed-dial-home ul {
  padding: 0 !important;
}
.component-display:has(> .custom-speed-dial) {
  position: relative;
  min-height: 230px;
}


@font-face {
  font-family: 'Updock';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/updock@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/updock@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
#component-preview > .component-container-single:last-of-type {
  --drop-cap-font: 'Updock';
}