@use "variables" as *;

#home-preview {
  transition: .5s ease ;
  background: var(--b2);
  padding: 1.5em 2em;
  color: var(--t);
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;

  border-bottom: 1px solid $border-col;

  & > div {
    margin: .5em;
    border: 1px solid var(--br);

    & > * {
      margin:0;
      padding: .8em 1em;
    }

    & > h4{
      opacity: .3;
    }

    & > .table-cont {
      padding: 0 2em 1em;
    }

    &:hover > h4 {
      opacity: 1;
    }

    &:nth-child(4) {
      grid-column: 1/3;
    }

    &:nth-child(6) {
      grid-column: 1/1;
    }

    &:nth-child(7) {
      grid-column: 2/4;
    }

    &:nth-child(8) {
      grid-column: 1/4;
    }
  }

  & ul {
    padding-left: 2em
  }

  & .custom-accrd {
    margin: 0
  }
}