@use "variables" as *;

#home-preview {
  transition: .5s ease ;
  background: var(--b2);
  padding: 1.5em 2em;
  color: var(--t);
  display: grid;
  grid-template-columns: repeat(4, 25%);

  border-bottom: 1px solid $border-col;

  & > div {
    margin: .5em;
    padding: .5em;

    & > *:not(hr) {
      margin:0;
      padding: .8em 1em;
    }

    & > h4{
      opacity: .3;
    }

    & > .table-cont {
      padding: 0 2em 1em;
    }

    &:hover > h4 {
      opacity: 1;
    }

      &:nth-child(1)
    , &:nth-child(2)
    , &:nth-child(5)
    , &:nth-child(8)
    {
      border-right: 1px solid var(--br);
    }

    &.hr {
      grid-column: span 4;
      margin-top: 1em;
      margin-bottom: 1em;
      border: none;
      border-top: 1px solid var(--br);
    }
  }

  & ul {
    padding-left: 2em
  }

  & .custom-accrd {
    margin: 0
  }
}

.col-span-2 {
  grid-column: span 2;
}

.col-span-3 {
  grid-column: span 3;
}

.col-span-4 {
  grid-column: span 4;
}
