@use "variables" as *;

button {
  &[disabled] {
    cursor: not-allowed;
  }
}

.button-general {
  font-family: Ubuntu;
  display: inline-block;
  cursor: pointer;
  background: lighten($background, 4.5%);
  padding: .25em 1em;
  border-radius: 8px;

  &:hover {
    background: lighten($background, 9.5%);
  }
}

.button-primary {
  display: inline-block;
  color: $text-col;
  background: rgba($accent, 50%);
  padding: .2em .5em;
  margin: 0 .2em;
  border-radius: 9px;
  cursor: pointer;
  transition: transform .2s ease;

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background: rgba($accent, 70%);
  }

  &.light {
    font-size: .9em;
    border-radius: 16px;
    color: $text-col;
    background: rgba($text-col, 10%);
    border: 1px solid $border-col;
  }

  & > .btn-icon, & > .btn-text {
    display: inline-block;
    margin-top: -.5em;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
  }

  & > .btn-icon {
    font-size: .9em;
    margin-right: .5em;
  }

  & > .btn-text {
  }
}

input[type="text"] {
  border-radius: 4px;
  border: 0;
  padding: .15em .5em;
  background: lighten($background, 7%);
}

input[type="checkbox"] {
  display: none;
}

.preview-header-button {
  color: $accent;
  font-size: 1.4em;
  cursor: pointer;
  margin-right: .25em;
  height: min-content;

  & > i {
    transition: .2s ease-out;
    transform-origin: right bottom;
  }

  &:hover {
    & > i {
      transform: translateX(-.25em);
    }
  }
}

.button-group {
  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
  padding: .5em .8em;
  $border-radius: .5em;

  & > label {
    border: 1px solid rgba($border-col, .15);
    padding: .25em 1em;
    margin: 0;
    cursor: pointer;
    transition: .2s ease;

    &:hover {
      border-color: $primary;
    }

    &.button-general {
      border-radius: 0;
    }
  }

  & > input[type="radio"] {
    display: none;

    &:checked + label {
      background: $background;
      color: $background !important;
    }

    &:first-child + label {
      border-radius: $border-radius 0 0 $border-radius ;
    }
  }

  & > label:first-child {
    border-radius: $border-radius 0 0 $border-radius ;
  }

  & > label:last-child {
    border-radius: 0 $border-radius $border-radius 0 ;
  }
}

input[name="component-theme-preview"] {
  & + label {
    & > i {
      background: var(--thm, $primary);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: #0000;
    }
  }
}

.theme-buttons {
  & > label {
    padding: .25em .7em;
  }
}

label.theme-more {
  padding: .25em .35em;
}

.theme-more > i {
  transition: .1s;
}

#component-theme-more {
  &:checked + .theme-more {
    background: $background;

    & > i {
      transform: scaleX(-1.0);
    }
  }

  &:not(:checked) ~ .theme-ext {
    display: none;
  }
}

.tooltip.theme-wat {
  padding: .5em;
  margin-right: -.8em;
  cursor: help;

  & .tooltip-content {
    width: 17em;
    padding: .8em;
    border: 1px solid $border-col;
    line-height: 1.35em;
    white-space: wrap;

    & > hr {
      margin: .5em 0;
    }
  }
}

#comp-fav-btn {
  display: none;

  & + label {
    cursor: pointer;
    margin: 0 .7em;

    & > i {
      font-size: 1.25em;
      transition: .75s ease;

      &:hover {
        transform: rotate(210deg);
      }
    }
  }

  &:checked + label > .checked {
    display: none;
  }

  &:not(:checked) + label > .checked-not {
    display: none;
  }
}

#home-button {
  &.hidden ~ #comp-fav-btn ~ label {
    display: none;
  }
}

.filter-group {
  display: flex;
  padding-right: 1.6em;

  & > .filter-title {
    flex-grow: 1;
    cursor: default;

    &:hover {
      border-color: rgba($border-col, .15);
    }
  }

  & > input:checked + label {
    background: $primary;

    & > i {
      color: $background;
    }
  }
}

#component-inputs {
  & .input-reset {
    cursor: pointer;
    margin-left: .5em;
  }

  &[data-comp="components__accordion"] {
    display: flex;

    & > .comp-inp-group {
      display: flex;
      align-items: center;
      max-width: 200px;
      margin-right: 1em;
    }

    & label {
      min-width: 0 !important;
      margin-right: 1em;
    }

    & input {
      width: 3.5em !important;
      text-align: center;
    }
  }

  &[data-comp="tweaks__profile-picture"] {
    & input {
      flex-grow: 1;
    }
  }
}