@use "variables" as *;

@mixin border-light {
  border: 1px solid $border-col;
  border-radius: 3px;
}

.hidden {
  display: none !important;
}

.non-interractable {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}