@use "variables" as *;

#component-preview {
  color: var(--t);

  & > .component-container-single {
    $padding: .8em;
    $bg-main: lighten($background, 1%);
    $bg-code: darken($background, 1%);

    display: flex;
    flex-direction: column;

    border: 1px solid rgba($text-col, 0.065);
    border-radius: 6px;
    background: $bg-main;
    margin-bottom: 1.25em;
    margin-top: 1.25em;
    overflow: hidden;

    &.component-container-img {
      --b2: transparent;

      & img {
        display: block;
        margin: auto;
      }
    }

    & > div {
      position: relative;
      margin: 0 $padding 0;
      padding: $padding;
    }

    & > .component-display {
      border-bottom: 1px solid rgba($text-col, 0.065);
      padding: $padding * 1.5;
      padding-bottom: $padding * 2;
      margin: 0;
      background: var(--b2);
      transition: .5s ease;

      & h1, h2, h3, h4, h5, h6 {
        font-family: var(--ff, initial);
      }
    }

    & > .component-preview-control {
      font-family: Ubuntu;
      padding: .7em 0;
    }

    & > .component-html {
      font-family: Ubuntu;
      margin-bottom: .7em;
      color: $text-col;
      background: $bg-code;
      border-radius: 6px;
      height: auto;
      overflow: auto;

      @include style-scrollbar;

      &.html-hidden {
        display: none;
      }

      & > pre {
        margin-top: 0;
      }
    }
  }
}
