@use "variables" as *;

#component-preview {
  color: var(--t);
}

$padding: .8em;
$bg-main: lighten($background, 1%);
$bg-code: darken($background, 1%);

.component-container-single {

  display: flex;
  flex-direction: column;

  border: 1px solid rgba($text-col, 0.065);
  border-radius: 6px;
  background: $bg-main;
  margin-bottom: 1.25em;
  margin-top: 1.25em;

  &.css-cont {
    padding-top: $padding;

    & > div {
      margin: 0 $padding 0;
    }
  }
}

.component-container-img {
  --b2: transparent;

  & img {
    display: block;
    margin: auto;
  }
}

.component-display {
  border-bottom: 1px solid rgba($text-col, 0.065);
  padding: $padding * 1.5;
  padding-bottom: $padding * 2;
  margin: 0;
  background: var(--b2);
  transition: .5s ease;

  & h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff, initial);
  }

  pre {
    background: var(--b2s);
    word-wrap: normal;
    overflow: auto;
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
    white-space: pre-wrap;
  }
}

.component-preview-control {
  display: flex;
  font-family: Ubuntu;
  padding: $padding;
  margin: 0 !important;

  & > button {
    display: flex;
    align-items: center;
    margin: 0 .25em;
  }
}

.component-html {
  font-family: Ubuntu;
  margin-bottom: .7em;
  padding: $padding 1em !important;
  color: $text-col;
  background: $bg-code;
  border-radius: 6px;
  height: auto;
  overflow: auto;

  @include style-scrollbar;

  & > pre {
    margin-top: 0;
  }
}

.html-hidden {
  display: none;
}

.comp-codepen-edit {
  & > .fa-solid {
    font-size: .8em;
    color: $accent;
    margin-right: .5em;
  }
}

.component-docs {
  margin-top: 1.5em;
  font-family: Lato;
  font-size: 1.15em;
  line-height: 1.5em;
  color: $text-col;

  & code {
    background: lighten($background, 5%);
    padding: 0 .5em;
    border-radius: .2em;
  }
}
