@use "sass:color";

// W H Y   T H O ????????
@function lighten($color, $n) {
  @return color.adjust($color, $lightness: $n);
}

@function darken($color, $n) {
  @return color.adjust($color, $lightness: -$n);
}

$background: #171620;
$text-col: #f7f7f6;
$border-col: #f7f7f650;

$accent: #fc3a78;
$accent-light: lighten($accent, 12.5%);

$primary: #3ad2fc;
$primary-light: lighten($primary, 12.5%);

@mixin style-scrollbar($col : $border-col) {
  scrollbar-color: $col $background;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: .5em;
    height: .5em;
  }

  &::-webkit-scrollbar-track {
    background: $background; 
  }

  &::-webkit-scrollbar-thumb {
    background: $col; 
  }

  &::-webkit-scrollbar-thumb:hover {
    background: darken($col, 20%); 
  }
}