@use "reset";
@use "input";
@use "variables" as *;
@use "modules" as *;
@use "home";

@use "intro";
@use "preview";

@use "components_dev";

@use "sass:color";

html {
  color-scheme: only dark !important;
}

body {
  background: darken($background, 2.5%);
  font-family: "Lato";
  font-size: .86em;
}

@mixin style-scrollbar($col: $primary) {
  scrollbar-color: $col $background;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: .5em;
    height: .5em;
  }

  &::-webkit-scrollbar-track {
    background: $background; 
  }

  &::-webkit-scrollbar-thumb {
    background: $col; 
  }

  &::-webkit-scrollbar-thumb:hover {
    background: color.adjust($col, $lightness: 20%); 
  }
}

.main-app {
  max-width: 1200px;
  margin: 0 auto;
}

.components-overview {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.components-selector-container {
  display: flex;
  flex-grow: 1;
  width: 250px;
  border-right: 1px solid rgba($border-col, 0.1);
  overflow: hidden;

  &.collapsed {
    width: 0;
    border: none;
  }
}

.components-selector-container-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;;
  padding: 1em .5em;
  // padding-right: .75em !important;
  padding-right: 0 !important;
  padding-top: 1em !important;
}

$active-col: white;
#components-list {
  $font-size: 1.1em;
  flex-grow: 1;

  margin: 0;
  margin-left: .75em;
  margin-right: .75em;

  padding: 0;
  padding-left: .2em;
  padding-right: .85em;

  overflow-y: scroll;

  @include style-scrollbar;

  & > h2 {
    position: sticky;
    bottom: 0;

    display: flex;
    align-items: center;
    font-size: $font-size * 1.25;
    font-weight: bold;

    margin: 0;

    padding-top: .35em;
    padding-bottom: .5em;

    background: darken($background, 2.5%);

    text-transform: capitalize;
    letter-spacing: .085em;
    color: $accent;

    // why...
    &:nth-of-type(2) {
      bottom:  ($font-size * 1.25) + .35em + .35em;
      z-index: 2;
    }

    &:nth-of-type(3) {
      z-index: 1;
    }

    & .icon {
      margin-right: .45em;
    }

    & > button {
      padding: .15em;
      line-height: 0;
      border-radius: 3px;

      & > span {
        font-size: 1em;
      }
    }
  }

  & > ul > li {
    color: rgba($text-col, 0.6);
    display: flex;
    margin-bottom: .4em;
    margin-left: .5em;
    font-size: $font-size;
    list-style: none;

    &.sub {
      padding-left: .9em;
    }

    & .text {
      padding: .1em .3em;
      color: rgba($text-col, 0.6);
      border-radius: 6px;
      transition: .3s ease;
    }

    &.viewed {
      & > button {
        pointer-events: none;

        & > .text {
          background: lighten($accent, 100%);
          color: $background !important;
        }
      }
    }

    & > label {
      margin-right: .3em;

      & > .checked-not {
        color: $active-col;
      }

      & > span {
        font-size: $font-size;
      }

      &:hover {
        cursor: pointer;
        color: $active-col;

        & ~ .component-toggle {
          color: $active-col;
          text-decoration: underline;

          & > .text {
            color: $active-col;
          }
        }
      }
    }

    & > input {
      display: none;

      &:checked ~ label > .checked {
        display: none;
      }

      &:not(:checked) ~ label > .checked-not {
        display: none;
      }

      &:checked ~ button > .text {
        color: $active-col;
      }
    }
  }
}

.component-type-title {
  flex-grow: 1;
}

.component-toggle {
  color: rgba($text-col, 0.8);
  text-transform: capitalize;

  &:hover {
    text-decoration: underline;
    cursor: pointer;

    & > .text {
      color: $active-col;
    }
  }

  & > .icon {
    margin-left: .5em;
    color: $primary;
    font-size: .8em;

    &.exp {
      color: $primary;
    }

    &.fav {
      color: #fcb930;
    }
  }
}

.copy-btn-container {
  display: flex;
  flex-direction: column;
  padding: .5em;
  padding-top: 1.25em;
  // margin-bottom: 1em;
  border-top: 1px solid rgba($border-col, 0.1);
}

#copy-notification {
  height: 1.5em;
  font-size: 1.1em;
  text-align: center;
  white-space: nowrap;
  margin-top: .5em;
}

.pick-2-notif {
  font-size: 1.1em;
  width: 7.8em;
}

.column-right {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  width: 920px;
}

.preview-info {
  font-size: 1.1em;
  padding: 1.5em;
  background: darken($background, 2.5%);
  padding-top: .25em;
  padding-bottom: 1.25em;
  border-bottom: 1px solid rgba($text-col, 0.075);
}

.preview-header {
  display: flex;
  flex-direction: row;
  margin-top: .75em;
  margin-bottom: .85em;
  align-items: center;
}

#component-title {
  margin: 0 .2em;
}

#component-description {
  max-width: 500px;
}

.right-control {
  display: flex;

  flex-grow: 1;
  align-items: center;
  justify-content: right;

  .button-general {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    margin: 0 .1em;
    margin-right: .5em;
  }
}

.preview-container {
  flex-grow: 1;
  overflow-y: scroll;
}

.pitch-ver {
  margin-right: 1em;
  margin-left: 1em;
}

#wrapper {
  @include style-scrollbar($accent);
  background: darken($background, 2.5%);
}


@mixin style-scope-label($col) {
  background: color.mix($background, $col, 70%);

  & > .icon {
    color: lighten($col, 15%);
  }

  & .tooltip-content {
    width: 100%;
    padding: .5em;
    background: color.mix($background, $col, 80%);
    white-space: wrap;

    & b {
      display: inline-block;
      margin-bottom: .5em;
    }
  }
}

.scope-label {
  display: inline-flex;
  column-gap: .5em;
  margin: 0 .3em;
  padding: .1em .5em;
  font-size: .85em;
  border-radius: 6px;
  cursor: help;

  &.compatible {
    @include style-scope-label(#21bd19);
  }
  &.partial {
    @include style-scope-label(#ffbe0a);
  }
  &.none {
    @include style-scope-label(#e6071d);
  }
  &.only {
    @include style-scope-label(#3ad2fc);
  }

  & > span {
    text-transform: capitalize;

    &:not(:last-child)::after {
      content: ",";
    }
  }
}

.copy-btn-container-inner {
  display: flex;
  margin: auto;
  align-items: center;
  $border-radius: 6px;

  & > button {
    height: 2em;
    margin: .1em;
    border-radius: 0;
  }

  & > :first-child {
    border-radius: $border-radius 0 0 $border-radius;
  }
  & > button:last-of-type {
    border-radius: 0 $border-radius $border-radius 0;
  }
}

.non-preview {
  --t: $text-col;
  --b: #131120;
  --b2: rgba(19, 17, 32);
  --b2s: #2a2837;
  --t: #eaeaea;
  --l: #fc3a78;
  --br: #332f4e;
  --btn: #fc3a78;
  --btn_f: #ffffff;
  --btn_s: #ff4d8b;
  font-family: Ubuntu;
}

.home-content {
  color: $text-col;
  letter-spacing: .05ch;
  line-height: 1.6em;
  padding: 2em;
}

#component-preview {
  margin: 2em;
  transition: .2s ease;

  & > hr.spacing {
    margin: 1em 0;
    background: none;
    border: none;
  }
}

.preview-control {
  display: flex;
  align-items: center;

  & > div:last-child {
    text-align: right;
    flex-grow: 1;
  }
}

#component-notes {
  background: lighten($background, 1%);
  font-family: Ubuntu;
  font-size: .95em;
  letter-spacing: .025em;
  transition: .2s ease;
}

.comp-notes {
  display: flex;
  align-items: center;
  padding: .6em 1.1em;
  border-bottom: 1px solid rgba($text-col, 0.075);

  &.Experimental {
    & > .comp-notes-title {
      background: $primary;
      color: #1c1813;
    }
  }

  &.Hacky {
    & > .comp-notes-title {
      background: #18f08b;
      color: #1c1813;
    }
  }

  &.note-custom {
    & > .comp-notes-title {
      background: rgba($text-col, 0.8);
      color: $background;
    }
  }
}

.comp-notes-title {
  align-self: start;
  margin-right: 1em;
  padding: .15em .7em;
  font-size: 1.1em;
  font-weight: bolder;
  border-radius: .3em;
}

.comp-notes-desc {
  line-height: 1.3em;

  & > code {
    font-weight: 400;
    padding: .025em .5em;
    background: rgba($text-col, 0.125);
    border-radius: 5px;
  }
}

#component-inputs {
  position: sticky;
  top: 0;
  padding: .8em 1.5em;
  border-bottom: 1px solid rgba($text-col, 0.075);
  background: lighten($background, 1%);
  font-family: Ubuntu;
  transition: .2s ease;
  z-index: 3;
}

.comp-inp-group {
  display: flex;
  padding: .3em .5em;

  & > .label {
    min-width: 10em;
  }

  & > input {
    &:focus {
      outline: 1px solid $primary;
    }
  }
}

.css-output-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  height: 9em;
  width: 100%;
  aspect-ratio: 1 / 1;

  border-top: 1px solid rgba($border-col, 0.1);

  &:before {
    content: "CSS OUTPUT";
    font-family: monospace;
    font-size: 1.5em;

    letter-spacing: .7ch;
    text-align: center;
    color: rgba($text-col, 0.7);

    display: block;
    position: absolute;

    top: 45%;
    left: 0;
    width: 100%;

    pointer-events: none;
  }
}

#css-output-textarea {
  @include style-scrollbar;

  font-family: monospace;

  color: rgba($text-col, 0.8);
  background: rgba($text-col, 0.05);

  flex-grow: 1;

  margin: 1em;
  padding: 1em;
  word-break: break-all;
  resize: none;
  width: calc(100% - 4em);
  border: 0;
  outline: 0;
  // box-sizing: border-box;

  &:focus {
    outline: 3px dashed $primary;
  }
}

::selection, ::-moz-selection {
  color: $background;
  background: $primary;
}

.hidden-opac {
  opacity: 0;
  cursor: default !important;
  
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}
