@use "reset";
@use "input";
@use "variables" as *;
@use "modules" as *;
@use "home";

@use "intro";
@use "preview";

@use "components_dev";

html {
  color-scheme: only dark !important;
}

body {
  background: $background;
  font-family: "Lato";
  font-size: .86em;
}

.main-app {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;

  & .components-overview {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100vh;

    & > .components-selector-container {
      display: flex;
      flex-shrink: 1;
      min-width: 240px;
      border-right: 1px solid $border-col;
      overflow: hidden;

      &.collapsed {
        width: 0;
        border: none;
      }

      & > .components-selector-container-inner {
        display: flex;
        flex-direction: column;
        min-width: 210px;
        // height: 100% !important;
        padding: 1em;
        padding-top: 1em !important;
      
        & > .component-search-container {
          display: flex;
          align-items: bottom;

          & > input {
            border-radius: 4px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border: 0;
            padding: .15em .5em;
            background: lighten($background, 7%);
          }

          & > #component-search-clear {
            padding: .15em .5em;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 1px solid $border-col;
          }
        }

        & dl#components-list {
          $font-size: 1.1em;
          flex-grow: 1;

          padding: 0;
          padding-left: .2em;

          & > dt {
            display: flex;
            align-items: center;
            font-size: $font-size * 1.1;

            margin-top: .3em;
            margin-bottom: .3em;

            text-transform: capitalize;
            color: $accent;

            & > .component-type-title {
              flex-grow: 1;
            }

            & > button {
              padding: .15em;
              line-height: 0;
              border-radius: 3px;
              & > span {
                font-size: 1em;
              }
            }
          }

          & > dd {
            $active-col: lighten($primary, 30%);
            $active-col: white;

            color: rgba(white, 0.6);
            display: flex;
            margin-bottom: .3em;
            margin-left: .5em;
            font-size: $font-size;
            list-style: none;

            &.viewed {
              & > button {
                font-weight: bolder;
                color: $accent !important;
              }
            }

            & > label {
              margin-right: .3em;

              & > .checked-not {
                color: $active-col;
              }

              & > span {
                font-size: $font-size;
              }

              &:hover {
                cursor: pointer;
                color: $active-col;

                & ~ .component-toggle {
                  text-decoration: underline;
                  color: $active-col;
                }
              }
            }

            & > .component-toggle {
            color: rgba(white, 0.6);
              text-transform: capitalize;

              &:hover {
                text-decoration: underline;
                cursor: pointer;
                color: $active-col;
              }
            }

            & > input {
              display: none;

              &:checked ~ label > .checked {
                display: none;
              }

              &:not(:checked) ~ label > .checked-not {
                display: none;
              }

              &:checked ~ button {
                color: $active-col;
              }
            }


          }
        }

        & > .copy-btn-container {
          display: flex;
          flex-direction: column;
          min-height: 4em;
          padding: 1em;
          margin-bottom: 1em;

          & > #copy-notification {
            font-size: 1.1em;
            text-align: center;
            white-space: nowrap;
            margin-top: .5em;

          }

          & > .pick-2-notif {
            text-align: center;
            color: lighten($accent, 25%);
            margin-top: .2em;
            min-height: 1.2em;
          }

          & > #compile-components-btn {
            &[disabled] {
              opacity: .7;
            }

            &:not([disabled]) ~ .pick-2-notif {
              display: none;
            }
          }
        }

      }

    }

    & > .column-right {
      display: flex;
      flex-grow: 1;
      flex-direction: column;

      max-width: 960px;
      min-width: 760px;

      & > .preview-info {
        font-size: 1.1em;
        padding: 1.5em;
        background: darken($background, 2.5%);
        padding-top: .25em;
        padding-bottom: 1.25em;

        & > .preview-header {
          display: flex;
          flex-direction: row;
          align-items: center;

          & > #component-title {
            margin: .5em 0 .2em;
          }

          & > .right-control {
            flex-grow: 1;
            text-align: right;
          }
        }

        & > #component-description {
          max-width: 500px;
        }
      }

      & > .preview-container {
        flex-grow: 1;
        overflow-y: scroll;
      }  

    }
  }
}

#wrapper {
  @include style-scrollbar($accent);
}

.non-preview {
  --t: $text-col;
  --b: #131120;
  --b2: rgba(19, 17, 32);
  --b2s: #2a2837;
  --t: #eaeaea;
  --l: #fc3a78;
  --br: #332f4e;
  --btn: #fc3a78;
  --btn_f: #ffffff;
  --btn_s: #ff4d8b;
  font-family: Ubuntu;
}

.home-content {
  color: $text-col;
  letter-spacing: .05ch;
  line-height: 1.6em;
  padding: 2em;
}

#component-preview {
  margin: 2em;
  transition: .2s ease;

  & > hr.spacing {
    margin: 1em 0;
    background: none;
    border: none;
  }
}

.preview-control {
  display: flex;
  align-items: center;

  & > div:last-child {
    text-align: right;
    flex-grow: 1;
  }
}

.css-output-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-height: 12em;
  max-height: 16.5em;
  width: 100%;
  aspect-ratio: 1 / 1;

  & > #css-output-textarea {
    @include style-scrollbar();

    font-family: monospace;

    color: rgba($text-col, 0.8);
    background: rgba($text-col, 0.05);

    flex-grow: 1;

    margin: auto;
    margin-top: .5em;
    margin-bottom: 1em;
    word-break: break-all;
    resize: none;
    width: 100%;
    border: 0;
    outline: 0;
    padding: .8em;
    box-sizing: border-box;

    &:focus {
      outline: 3px dashed $primary;
    }
  }

  &:before {
    content: "CSS OUTPUT";
    font-family: monospace;
    font-size: 1.5em;

    letter-spacing: .7ch;
    text-align: center;
    color: rgba($text-col, 0.7);

    display: block;
    position: absolute;

    top: 45%;
    left: 0;
    width: 100%;
  }
}

::selection, ::-moz-selection {
  color: $background;
  background: $primary;
}

#component-description code {
  background: lighten($background, 15%);
  padding: 0 .5em;
  border-radius: .2em;
}

.hidden-opac {
  opacity: 0;
}