@use "reset";
@use "input";
@use "variables" as *;
@use "modules" as *;
@use "home";

@use "intro";
@use "preview";

@use "components_dev";

@use "sass:color";

html {
  color-scheme: only dark !important;
}

body {
  background: darken($background, 2.5%);
  font-family: "Lato";
  font-size: .86em;
}

@mixin style-scrollbar($col: $primary) {
  scrollbar-color: $col $background;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: .5em;
    height: .5em;
  }

  &::-webkit-scrollbar-track {
    background: $background; 
  }

  &::-webkit-scrollbar-thumb {
    background: $col; 
  }

  &::-webkit-scrollbar-thumb:hover {
    background: color.adjust($col, $lightness: 20%); 
  }
}

.main-app {
  max-width: 1200px;
  margin: 0 auto;

  & .components-overview {
    display: flex;
    flex-direction: row;
    height: 100vh;

    & > .components-selector-container {
      display: flex;
      flex-grow: 1;
      width: 250px;
      border-right: 1px solid rgba($border-col, 0.1);
      overflow: hidden;

      &.collapsed {
        width: 0;
        border: none;
      }

      & > .components-selector-container-inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1em .5em;
        // padding-right: .75em !important;
        padding-right: 0 !important;
        padding-top: 1em !important;
      
        & > .component-search-container {
          display: flex;
          align-items: bottom;

          & > input {
            border-radius: 4px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border: 0;
            padding: .15em .5em;
            background: lighten($background, 7%);
          }

          & > #component-search-clear {
            padding: .15em .5em;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 1px solid rgba($border-col, .15);
          }
        }

        & dl#components-list {
          $font-size: 1.1em;
          flex-grow: 1;

          margin: 0;
          margin-left: .75em;
          margin-right: .75em;

          padding: 0;
          padding-left: .2em;
          padding-right: .85em;
          padding-bottom: .75em;

          overflow-y: scroll;

          @include style-scrollbar;

          & > dt {
            display: flex;
            align-items: center;
            font-size: $font-size * 1.25;
            font-weight: bold;

            margin-top: .7em;
            margin-bottom: .3em;

            text-transform: capitalize;
            letter-spacing: .085em;
            color: $accent;

            & > .component-type-title {
              flex-grow: 1;
            }

            & > button {
              padding: .15em;
              line-height: 0;
              border-radius: 3px;

              & > span {
                font-size: 1em;
              }
            }
          }

          & > dd {
            // $active-col: lighten($primary, 80%);
            $active-col: white;

            color: rgba($text-col, 0.6);
            display: flex;
            margin-bottom: .4em;
            margin-left: .5em;
            font-size: $font-size;
            list-style: none;

            &.sub {
              padding-left: .9em;
            }

            & .text {
              padding: .1em .3em;
              color: rgba($text-col, 0.6);
              border-radius: 6px;
              transition: .3s ease;
            }

            &.viewed {
              & > button {
                pointer-events: none;

                & > .text {
                  // font-weight: bolder;
                  // color: $accent !important;

                  background: lighten($accent, 100%);
                  color: $background !important;
                  // outline: 2px solid lighten($accent, 100%);
                }

                // & > .icon {
                //   filter: brightness(0.4);

                //   &.fav {
                //     filter: none;
                //       color: $background;
                //     // & > svg {
                //     // }
                //   }
                // }
              }
            }

            & > label {
              margin-right: .3em;

              & > .checked-not {
                color: $active-col;
              }

              & > span {
                font-size: $font-size;
              }

              &:hover {
                cursor: pointer;
                color: $active-col;

                & ~ .component-toggle {
                  color: $active-col;
                  text-decoration: underline;

                  & > .text {
                    color: $active-col;
                  }
                }
              }
            }

            & > .component-toggle {
              color: rgba($text-col, 0.8);
              text-transform: capitalize;

              &:hover {
                text-decoration: underline;
                cursor: pointer;

                & > .text {
                  color: $active-col;
                }
              }

              & > .icon {
                margin-left: .5em;
                color: $primary;
                font-size: .8em;

                &.fav {
                  color: #fcb930;
                }
              }
            }

            & > input {
              display: none;

              &:checked ~ label > .checked {
                display: none;
              }

              &:not(:checked) ~ label > .checked-not {
                display: none;
              }

              &:checked ~ button > .text {
                color: $active-col;
              }
            }


          }
        }

        & > .copy-btn-container {
          display: flex;
          flex-direction: column;
          min-height: 4em;
          padding: .5em;
          padding-top: 1.25em;
          // margin-bottom: 1em;
          border-top: 1px solid rgba($border-col, 0.1);

          & > #copy-notification {
            font-size: 1.1em;
            text-align: center;
            white-space: nowrap;
            margin-top: .5em;

          }

          & > .pick-2-notif {
            text-align: center;
            color: lighten($accent, 25%);
            margin-top: .2em;
            min-height: 1.2em;
          }
        }

      }

    }

    & > .column-right {
      display: flex;
      flex-grow: 1;
      flex-direction: column;

      width: 920px;

      & > .preview-info {
        font-size: 1.1em;
        padding: 1.5em;
        background: darken($background, 2.5%);
        padding-top: .25em;
        padding-bottom: 1.25em;
        border-bottom: 1px solid rgba($text-col, 0.075);

        & > .preview-header {
          display: flex;
          flex-direction: row;
          margin-top: .75em;
          margin-bottom: .85em;
          align-items: center;

          & > #component-title {
            margin: 0 .2em;
          }

          & > .right-control {
            display: flex;

            flex-grow: 1;
            align-items: center;
            justify-content: right;

            & > .button-general {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              width: 2em;
              margin: 0 .1em;
              margin-right: .5em;
            }

            & > .pitch-ver {
              margin-right: 1em;
              margin-left: 1em;
            }
          }
        }

        & > #component-description {
          max-width: 500px;
        }
      }

      & > .preview-container {
        flex-grow: 1;
        overflow-y: scroll;
      }

    }
  }
}

#wrapper {
  @include style-scrollbar($accent);
  background: darken($background, 2.5%);
}


@mixin style-scope-label($col) {
  background: color.mix($background, $col, 70%);

  & > .icon {
    color: lighten($col, 15%);
  }

  & .tooltip-content {
    width: 100%;
    padding: .5em;
    background: color.mix($background, $col, 80%);
    white-space: wrap;

    & b {
      display: inline-block;
      margin-bottom: .5em;
    }
  }
}

.scope-label {
  display: inline-flex;
  column-gap: .5em;
  margin: 0 .3em;
  padding: .1em .5em;
  font-size: .85em;
  border-radius: 6px;
  cursor: help;

  &.compatible {
    @include style-scope-label(#21bd19);
  }
  &.partial {
    @include style-scope-label(#ffbe0a);
  }
  &.none {
    @include style-scope-label(#e6071d);
  }
  &.only {
    @include style-scope-label(#3ad2fc);
  }

  & > span {
    text-transform: capitalize;

    &:not(:last-child)::after {
      content: ",";
    }
  }
}

.copy-btn-container-inner {
  display: flex;
  margin: auto;
  $border-radius: 6px;

  & > button {
    height: 2em;
    margin: .1em;
    border-radius: 0;
  }

  & > :first-child {
    border-radius: $border-radius 0 0 $border-radius;
  }
  & > :last-child {
    border-radius: 0 $border-radius $border-radius 0;
  }
}

.non-preview {
  --t: $text-col;
  --b: #131120;
  --b2: rgba(19, 17, 32);
  --b2s: #2a2837;
  --t: #eaeaea;
  --l: #fc3a78;
  --br: #332f4e;
  --btn: #fc3a78;
  --btn_f: #ffffff;
  --btn_s: #ff4d8b;
  font-family: Ubuntu;
}

.home-content {
  color: $text-col;
  letter-spacing: .05ch;
  line-height: 1.6em;
  padding: 2em;
}

#component-preview {
  margin: 2em;
  transition: .2s ease;

  & > hr.spacing {
    margin: 1em 0;
    background: none;
    border: none;
  }
}

.preview-control {
  display: flex;
  align-items: center;

  & > div:last-child {
    text-align: right;
    flex-grow: 1;
  }
}

#component-notes {
  background: lighten($background, 1%);
  font-family: Ubuntu;
  font-size: .95em;
  letter-spacing: .025em;
  transition: .2s ease;

  & > .comp-notes {
    display: flex;
    align-items: center;
    padding: .6em 1.1em;
    border-bottom: 1px solid rgba($text-col, 0.075);

    & > .comp-notes-title {
      align-self: start;
      margin-right: 1em;
      padding: .15em .7em;
      font-size: 1.1em;
      font-weight: bolder;
      border-radius: .3em;
    }

    & > .comp-notes-desc {
      line-height: 1.3em;

      & > code {
        font-weight: 400;
        padding: .025em .5em;
        background: rgba($text-col, 0.125);
        border-radius: 5px;
      }
    }

    &.Experimental {
      & > .comp-notes-title {
        background: #ffc721;
        color: #1c1813;
      }
    }

    &.note-custom {
      & > .comp-notes-title {
        background: rgba($text-col, 0.8);
        color: $background;
      }
    }
  }
}

#component-inputs {
  position: sticky;
  top: 0;
  padding: .8em 1.5em;
  border-bottom: 1px solid rgba($text-col, 0.075);
  background: lighten($background, 1%);
  font-family: Ubuntu;
  transition: .2s ease;
  z-index: 3;

  & > .comp-inp-group {
    display: flex;
    padding: .3em .5em;

    & > .label {
      min-width: 10em;
    }

    & > input {
      &:focus {
        outline: 1px solid $primary;
      }
    }
  }
}

.css-output-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  height: 9em;
  width: 100%;
  aspect-ratio: 1 / 1;

  border-top: 1px solid rgba($border-col, 0.1);

  & > #css-output-textarea {
    @include style-scrollbar;

    font-family: monospace;

    color: rgba($text-col, 0.8);
    background: rgba($text-col, 0.05);

    flex-grow: 1;

    margin: 1em;
    padding: 1em;
    word-break: break-all;
    resize: none;
    width: calc(100% - 4em);
    border: 0;
    outline: 0;
    // box-sizing: border-box;

    &:focus {
      outline: 3px dashed $primary;
    }
  }

  &:before {
    content: "CSS OUTPUT";
    font-family: monospace;
    font-size: 1.5em;

    letter-spacing: .7ch;
    text-align: center;
    color: rgba($text-col, 0.7);

    display: block;
    position: absolute;

    top: 45%;
    left: 0;
    width: 100%;

    pointer-events: none;
  }
}

::selection, ::-moz-selection {
  color: $background;
  background: $primary;
}

.hidden-opac {
  opacity: 0;
  cursor: default !important;
  
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}