.custom-indev {
  --col: var(--indev-col, #eca20e);
  --bg: var(--indev-bg, #1b1b1b);

  position: relative;
  display: flex;
  padding-block: 0 !important;
  background-size: 200% 200%;
  border-radius: 4px;
  /*font-size: .75em;*/
  font-weight: bolder;
  letter-spacing: .2em;
  overflow: hidden;

  & > div {
    padding: .25em 2em;
    margin-left: 2em;
    background: var(--bg);
    color: var(--col);
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 200%;
    background: repeating-linear-gradient(
      -45deg,
      var(--bg), var(--bg) 2rem,
      var(--col) 2rem, var(--col) 3.5rem
    );
    animation: indev-anim 30s linear infinite;
  }
}

@keyframes indev-anim {
  100% {
    transform: translateX(-50%)
  }
}
