@use "../../../styles/variables" as *;
@use "sass:color";

.pinned {
  position: sticky;
  top: 0;
  /* *cries* */
  transform: translateX(-2em);
  z-index: 9;
  backdrop-filter: blur(.5em);
}

input[type="text"],
input[type="color"] {
  padding: .15em .5em;
  background: lighten($background, 7%);
  border-radius: 4px;
  border: 0;

  &:focus {
    outline: 1px solid $text-col;
  }
}

input[type="color"] {
  min-width: 208px;
  padding: 0;
  height: 100%;
}

:global .page-header-input {
  background: none !important;
  /* background: rgba($background-light, 60%) !important; */

  & > li {
    list-style: none;
    display: flex;
    /* margin-block: .35em; */
    padding-right: .5em;

    &.collapse-mark {
      display: block;

      & > .button {
        display: inline-block;
        margin-block: .5em;
        font-size: .9em;
      }

      &:has( input:not(:checked) ) {
        & ~ li {
          display: none;
        }
      }
    }

    &:first-child, &.sub-heading {
      & > h3, & > h4 {
        margin-top: 0;
        /* margin-bottom: .75em; */
        font-family: Ubuntu;
        font-weight: 300;

        & > i {
          margin-right: .5em;
        }
      }
    }

    & > label {
      flex-grow: 1;
    }
  }

  /* &[data-comp-name="Accordion"] {
    & label {
      max-width: 120px;
    }
  } */
}

.input-var-name {
  margin-inline: .5em;
  font-size: .9em;
  background: 0;

  & > code {
    padding: 0 !important;
    color: color.mix($text-col, $background, 60%) !important;

    background: none !important;

    font-size: .8em;
    /* cursor: help; */
    /* opacity: .6; */
  }
}

.input {
  position: relative;
}

.reset {
  position: absolute;
  top: .25em;
  left: 100%;
}

#pin-toggle {
  + label > i {
    transition: .3s ease transform;
  }
  &:not(:checked) + label > i {
    transform: rotate(-45deg)
  }
}
