@use "../../styles/variables" as *;
@use "sass:color";

:global .page-header-input {
  & > li {
    position: relative;

    list-style: none;
    display: flex;
    // flex-wrap: wrap;
    gap: .5em;

    &.input-li {
      padding-bottom: 1.35lh;
    }

    &.collapse-mark {
      display: block;

      & > .button {
        display: inline-block;
        margin-block: .5em;
      }

      &:has( input:not(:checked) ) {
        & ~ li {
          display: none;
        }
      }
    }

    &:first-child, &.sub-heading {
      & > h3, & > h4 {
        margin-top: 0;
        font-family: Ubuntu;
        font-weight: 300;

        & > i {
          margin-right: .5em;
        }
      }
    }

    & > label {
      flex-grow: 1;
    }
  }

  /* &[data-comp-name="Accordion"] {
    & label {
      max-width: 120px;
    }
  } */
}

.input-var-cont {
  position: absolute;
  inset: 1.3lh 0;
}

.input-var-name {
  width: fit-content;
  background: 0;
  padding: 0;

  & > code {

    padding: 0 !important;
    color: color.mix($text-col, $background, 60%) !important;

    background: none !important;

    font-size: .8em;
  }
}

.input {
  display: flex;
  width: 100%;
  max-width: calc(80% - 4em);

  & > input {
    width: 100%;
  }
}

.reset {
  margin-left: .5em;

  &[disabled] {
    opacity: 0;
  }
}
