@font-face {
  font-family: 'Flow Rounded';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/flow-rounded@latest/latin-400-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

body:not(:has(.game_page_apperance_columns))
  #user_tools:not(:has(.is_following))
    ~ #wrapper .custom-follower-exclusive-text
{
  font-family: 'Flow Rounded' !important;

  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}
