.user_page:not(.has_banner) #profile_header {
  max-width: 960px;
  margin: auto;
  margin-bottom: 0;
  padding: 0 20px;
}

#profile_header > .text_header {
  margin-left: calc(var(--pfp-size, 6rem) + 1.2rem);
/*   margin-left: calc(var(--pfp-size, 6em) + .75em); */
  padding: 0 !important;
}

.user_links {
  position: relative;
  row-gap: 1em;
}

.link_group:first-child {
  margin-left: calc(var(--pfp-size, 6rem) + 1.2rem);
}

.user_links:before {
  position: absolute;
  content: "";
  background: url("PFP_URL");

  top: calc(var(--pfp-size, 6rem) * -1 + 20px + .5rem);

  height: var(--pfp-size, 6rem);
  width: var(--pfp-size, 6rem);

/*   border-radius: 9px; */
  border-radius: var(--pfp-border-radius, var(--itchio_border_radius));

  background-size: cover;
  overflow: hidden;
}
