@use "../pages/component/components/accordion/styles.css" as *;
@use "../pages/component/components/callout/styles.css" as *;
@use "../pages/component/components/code-block/styles.css" as *;
@use "../pages/component/components/dot-leader/styles.css" as *;
@use "../pages/component/components/image-comparison/styles.css" as *;
@use "../pages/component/components/list/info-list/styles.css" as *;
@use "../pages/component/components/list/steps-list/styles.css" as *;
@use "../pages/component/components/list/timeline-list/styles.css" as *;
@use "../pages/component/components/list/tree-list/styles.css" as *;
@use "../pages/component/components/list/tree-list/directory/styles.css" as *;
@use "../pages/component/components/input/styles.css" as *;
@use "../pages/component/components/label/styles.css" as *;
@use "../pages/component/components/label/grouped/styles.css" as *;
@use "../pages/component/components/label/tag/styles.css" as *;
@use "../pages/component/components/read-more/styles.css" as *;
@use "../pages/component/components/speed-dial/styles.css" as *;
@use "../pages/component/components/spoiler/click/styles.css" as *;
@use "../pages/component/components/spoiler/hover/styles.css" as *;
@use "../pages/component/components/table/styles.css" as *;
@use "../pages/component/components/text-divider/styles.css" as *;
@use "../pages/component/components/toggle/styles.css" as *;
@use "../pages/component/components/tooltip/styles.css" as *;

@use "../pages/component/decorations/cat-ear-divider/styles.css" as *;
@use "../pages/component/decorations/drop-cap/styles.css" as *;
@use "../pages/component/decorations/in-development-sign/styles.css" as *;
@use "../pages/component/decorations/link-decoration/external/styles.css" as *;
@use "../pages/component/decorations/link-decoration/socials/styles.css" as *;
@use "../pages/component/decorations/z_fingers/styles.css" as *;

.custom-speed-dial {
  position: absolute !important;
  bottom: 1.6em !important;
  right: 1.6em !important;
  margin-left: auto !important;
}
.custom-speed-dial-home {
  position: relative !important;
  bottom: unset !important;
  right: unset !important;
  padding: 0 !important;
  padding-right: .5em !important;
}
.custom-speed-dial-home ul {
  padding: 0 !important;
}
.html-view:has(> .custom-speed-dial) {
  position: relative;
  min-height: 230px;
}
