@use "../styles/variables" as *;

input {
  &[type="checkbox"] {
    display: none;

    & + label {
      cursor: pointer;
    }

    &:not(:checked) {
      & + label {
        & > :is(.fa-square-check, .checked) {
          display: none;
        }
      }
    }

    &:checked {
      & + label {
        & > :is(.fa-square, .checked-not) {
          display: none;
        }

        &.caret-toggle {
          & .collapse {
            display: none;
          }
          & .expand {
            display: inline;
          }
          & > i {
            transform: rotate(90deg);
          }
        }

        &.button-check {
          background: $text-col;
          color: $background;
        }
      }
    }
  }
}

.button-check {
  transition: background .3s, color .3s;
}

.caret-toggle {
  display: inline-block;
  & > i {
    transition: .3s;
    transform-origin: center;
  }
  & .expand {
    display: none;
  }
}

:is(button, .button) {
  display: inline-flex;
  align-content: center;
  justify-items: center;
  align-items: center;
  justify-content: center;

  font-family: Ubuntu;
  background: lighten($background, 5.5%);
  // border: 1px solid $border-col-light;
  border: 0;
  border-radius: 6px;

  cursor: pointer;

  &:hover {
    background: lighten($background, 9.5%);
  }

  &.icon-only {
    border: 0;
    outline: 0;
    background: 0;
  }

  &:not(.icon-only) {
    padding: .25em .65em;
  }

  & > .icon {
    font-size: .8em;
    margin-right: .5em;
  }

  &.no-style {
    cursor: default;
    background: none;

    &:hover {
      background: none;
    }
  }
}

button {
  transition: opacity .3s;

  &[disabled] {
    opacity: 0;
    pointer-events: none;
  }
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: .25em;

  background: $background;
  border-radius: 6px;

  & > span {
    flex-grow: 1;
    margin-inline: .5em;
  }

  & > button, .button {
    $br: 9px;
    border-radius: 0;

    &:first-of-type {
      border-radius: $br 0 0 $br;
      border-right: 0;
    }
    &:last-of-type {
      border-radius: 0 $br $br 0;
    }
  }
}
