@use "../styles/variables" as *;

#sidebar-right {
  position: relative;

  width: 280px;
  min-width: 280px;

  transition:
    .5s width ease
  , .5s min-width ease
  ;

  &.collapsed {
    width: 0;
    min-width: 0;
  }

  & > .sidebar-right-inner {
    padding: 1em 1.5em;
    padding-top: 0;
    border-left: 1px solid $border-col;
    overflow-x: hidden;
    white-space: nowrap;
    min-height: 100%;

    & > h1 {
      font-size: 1.2em;
      font-weight: lighter;
      font-family: Ubuntu;
    }
    & > h2 {
      font-size: 1.1em;
      font-family: Ubuntu;
      padding-left: .5em;
    }
  }

  & li {
    margin-bottom: .75em;

    & > a {
      color: $text-col;
      text-decoration: none;

      &:hover {
        // color: $primary;
        text-decoration: underline;
      }
    }
  }
}

#toc-content {
  list-style: none;
  padding-left: .5em;

  & li {
    display: flex;

    opacity: .5;

    & > button {
      justify-content: start;
      flex-grow: 1;
    }

    &:hover {
      opacity: 1;

      & > button {
        text-decoration: underline 1px solid;
      }
    }
  }

  & .lv-2 {
    font-size: 1.15em;
  }

  & .lv-3 {
    font-size: 0.95em;
    margin-left: 1em;
  }

  & .lv-4 {
    font-size: 0.9em;
    margin-left: 1em * 2;
  }
}

// #toc-collapse {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   padding: 0;
//   font-size: .8em;
//   border-radius: 0 4px 4px 0;
// }
