@use "../styles/variables" as *;

@use "./components/scopes";
@use "./toc.scss";

#viewer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  height: 100vh;

  & > header, & #wrapper {
    // padding: .5em;
    padding-inline: 2em;
  }

  & > header {
    display: flex;
    padding: 1em;
    padding-bottom: 1em;
    background: $background;
    border-bottom: 1px solid $border-col;
  }
}

.page-heading {
  margin: .3em .5em;
  margin: 0 .5em;
}

#btn-home {
  & > i {
    font-size: 1.5em;
  }
}

#wrapper {
  overflow-y: scroll;
  flex-grow: 1;
}

.split {
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  // display: grid;
}
