.formatted_description {
  --l: var(--itchio_link_color);
  --t: var(--itchio_text_color);
  --b: var(--itchio_bg_color);
  --b2: var(--itchio_bg2_color)
}



/***** ACCORDION - START *****/
.custom-accrd {
  max-width: 553px;
  margin: auto;
  outline: 1px solid color-mix(in srgb, var(--t) 50%, var(--b2));
  border-radius: 6px;
  margin-top: 1.5em;
  margin-bottom: 1.5em
}

.custom-accrd details {
  background: color-mix(in srgb, var(--b2) 92.5%, var(--t));
  padding: .5em 1em .75em 1em
}

.custom-accrd details:not(:last-child) {
  border-bottom: 1px solid color-mix(in srgb, var(--t) 40%, var(--b2))
}

.custom-accrd details[open] summary:after {
  content: "\25BC"
}

.custom-accrd summary {
  font-size: 105%;
  cursor: pointer;
  color: var(--l);
  display: flex;
  transition: 0s
}

.custom-accrd summary:hover {
  color: var(--t)
}

.custom-accrd ::marker {
  content: ""
}

.custom-accrd summary::after {
  text-align: right;
  flex-grow: 1;
  content: "\25BA"
}

.custom-left {
  margin: 0
}

.custom-right {
  margin: 0 0 0 auto
}

.custom-full_w {
  max-width: 100%
}

/***** ACCORDION - END *****/



/***** CREDITS - START *****/
.custom-crdt {
  display: grid;
  grid-template-columns: 25% 60%
}

.custom-crdt>div {
  margin: 2px 8px
}

.custom-crdt>div:nth-child(odd) {
  text-align: right;
  font-weight: 700;
  opacity: .7
}

.custom-crdt>div>a {
  display: inline-block
}

.custom-crdt div>a:not(:last-child):after {
  content: ",";
  margin-right: 1em;
  color: var(--t)
}

/***** CREDITS - END *****/



/***** INPUTS - START *****/
.formatted_description kbd {
  font-size: .9em;
  background: color-mix(in srgb, var(--t) 20%, var(--b2));
  border-radius: 4px;
  margin: 0 .25em;
  padding: .06em .25em;
  border-bottom: 2px solid
}

/***** INPUTS - END *****/



/***** SPOILER - START *****/
.custom-hd:not(:hover) {
  color: var(--t);
  background: var(--t)
}

/***** SPOILER - END *****/



/***** TAG BADGES - START *****/
.custom-tag {
  background: var(--l);
  color: var(--b2) !important;
  text-decoration: none;
  padding: .1em .5em;
  margin: .25em .75em;
  font-weight: 700;
  border-radius: 4px 0 0 4px;
  display: inline-block
}

.custom-tag:before {
  content: "\2022";
  margin: 0 .5em 0 0;
  color: var(--b2)
}

.custom-tag:after {
  content: "";
  position: absolute;
  margin: -.1em 0 0 .5em;
  border-top: .7em solid #fff0;
  border-bottom: .7em solid #fff0;
  border-left: .8em solid var(--l)
}

/***** TAG BADGES - END *****/
