#wrapper {
  --b: var(--itchio_bg_color);
  --b2: var(--itchio_bg2_color);
  --b2s: var(--itchio_bg2_sub);
  --t: var(--itchio_text_color);
  --l: var(--itchio_link_color);
  --br: var(--itchio_border_color);
  --btn: var(--itchio_button_color);
  --btn_f: var(--itchio_button_fg_color);
  --btn_s: var(--itchio_button_shadow_color);
}



/***** ACCORDION - START *****/
.custom-accrd {  
  max-width: 553px;
  margin: auto;
  border: 1px solid var(--t);
  border-color: var(--l);
  border-radius: 3px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.custom-accrd details {
  background: var(--b2s);
  padding: .75em 1.2em;
}

/* Add border inbetween accordion item */
.custom-accrd details:not(:last-child) {
  border-bottom: 1px solid var(--t);
  border-color: var(--l);
}

.custom-accrd details[open] summary {
  margin-bottom: .25em;
}

.custom-accrd summary {
  font-size: 105%;
  cursor: pointer;
  color: var(--l);
  display: flex; /* Remove the default marker */
}

.custom-accrd summary:hover {
  color: var(--t);
  text-decoration: underline;
}

/* Change the default marker */
.custom-accrd summary::after {
  text-align: right;
  flex-grow: 1; /* Move the new marker to the most right */
  content: "\25BA";
}

.custom-accrd details[open] summary:after {
  content: "\25BC";
}

/* Utility classes */
.custom-accrd.custom-left {
  margin: 0;
}

.custom-accrd.custom-right {
  margin: 0 0 0 auto;
}

.custom-accrd.custom-full-w {
  max-width: 100%;
}
/***** ACCORDION - END *****/



/***** ALERT BOX - START *****/
blockquote.custom-warn {
  font-style: normal; /* Remove the italic blockquote font-style */
  border-color: var(--l);
  padding: .05em 1em;
  background: var(--b2s);
  border-radius: 4px;
}

blockquote.custom-warn > p {
  margin-top: 0;
  margin-bottom: 1em !important; /* Override devlog paragraph margin */
}

blockquote.custom-warn > :first-child {
  color: var(--l); /* Color the heading for alert box */
}

/* Add 'warning' exclamation mark symbol */
/*blockquote.custom-warn > :first-child:before {
  content: "\0026A0"; 
  margin-right: .4em;
}*/
/***** ALERT BOX - END *****/



/***** INFO PANEL - START *****/
/* Set up 2 column layout */
.custom-info-ls {
  display: grid;
  grid-template-columns: 25% 60%;
}

.custom-info-ls > div {
  margin: .2em 8px;
}

.custom-info-ls > div:nth-child(odd) {
  text-align: right;
  font-weight: 700;
}

.custom-info-ls div:nth-child(even) > a:not(:last-child, .custom-lb, .custom-tag, kbd):after {
  color: var(--t);
  /* Add commas for every hyperlink elements */
  content: ",";
  margin-right: .2em;
}
/***** INFO PANEL - END *****/



/***** INPUT - START *****/
#wrapper kbd {
  font-size: .9em;
  background: var(--br);
  border-radius: 4px;
  border-bottom: 3px solid var(--b2s);
  padding: .2ch .7ch;
}
/***** INPUT - END *****/



/***** LABEL - START *****/
.custom-lb, .custom-tag {
  background: var(--btn);
  color: var(--btn_f);
  text-decoration: none; /* Remove underline for hyperlinks */
  padding: 0 1ch;
  margin: .15em;
  font-weight: 700;
  border-radius: 4px;
  display: inline-block;
}

/* Override hyperlink font color */
a.custom-lb, a.custom-tag {
  color: var(--btn_f);
}

p .custom-lb, p .custom-tag {
  margin: 0 .15em;
}

.custom-tag {
  font-family: Lato, sans-serif;
  font-size: 16px;
  margin-right: 1em;
}

/* Add the dot */
.custom-tag:before {
  content: "\2022";
  margin-right: .5ch;
  color: var(--b2s);
}

/* Add the triangle */
.custom-tag:after {
  content:"";
  position:absolute;
  margin-left:.5ch;
  margin-top: -.15em;
  border-top:.8rem solid #fff0;
  border-bottom:.8rem solid #fff0;
  border-left:1em solid var(--btn);
  border-radius:9px;
}
/***** LABEL - END *****/



/***** SPOILER - START *****/
.custom-hd:not(:hover) {
  color: #0000; /* Make the text transparent */
  background: var(--t);
}
/***** SPOILER - END *****/