.custom-read-more {
  &:has(> details:not([open])) > .custom-content {
    max-height: 5.5em;
    --mask: linear-gradient(to bottom, black 50%, transparent);
    -webkit-mask-image: var(--mask);
    mask-image: var(--mask);
  }

  &:has(> details[open]) > .custom-content {
    max-height: unset !important;
  }

  & > details {
    & > summary {
      display: flex; /* Remove the default marker */
      width: min-content;
      margin-top: .5em;
      white-space: nowrap;
      color: var(--l);
      text-decoration: 1px underline;
      cursor: pointer;

      /* Remove the default marker on itch app */
      &::-webkit-details-marker{
        display: none;
      }

      &::after {
        content: var(--read-more-cls, "Read more...");
      }
    }

    &[open] {
      & > summary::after {
        content: var(--read-more-opn, "Read less...");
      }
    }
  }

  & > .custom-tl-list + details > summary {
    padding-left: 1em;
  }

  &.custom-center > details > summary {
    margin-left: auto;
    margin-right: auto;
  }

  &.custom-right > details > summary {
    margin-left: auto;
  }

  &.custom-once > details[open] {
    display: none;
  }
}
