@use "../styles/variables" as *;
@use "sass:color";

:global #wrapper:has(> #page > .home) {
  background: $background;
}

.home-cat-heading {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 999;
  top:0;

  // kinda stinky
  translate: -2rem;
  width: calc(100% + 4rem);
  background: $background-dark;
  padding:1.5em;
  margin-block: 1.5em;
  gap: .5em;

  border: 1px solid $border-col;
  border-left: 0;
  border-right: 0;

  & .btn-group.filter-group {
    gap: .25em;
    padding: 0;
    margin: 0;

    & > label {
      padding: .5em 1em;
    }
  }

  & input[type="text"], select, .btn-group {
      background: $background-light;
      padding: .5em;
      border: 1px solid $border-col;
      border-radius: 7px;
  }
}

.cat-container {
  position: relative;
  min-height: 200px;
}
