@use "../styles/variables" as *;

@use "sass:color";

:global #wrapper:has(> .home) {
  background: $background;
}

.banner-list {
  position: sticky;
  /* width: calc(100% + 4em); */
  top: .5em;

  /* margin-top: .5em !important; */
  display: flex;
  flex-direction: column;
  gap: .65em;
  /* backdrop-filter: blur(1em); */
  z-index: 999;

  /* transform: translateX(-2em); */
/*
  &:has(*) {
    padding: 1em;
    padding-bottom: 0;
  }

  & > div {
    filter: blut(2em);
  } */
}
/*
header {
  background: $background-dark;
} */

.intro {
  display: flex;
  gap: 1em;
  /* display: grid; */
  /* grid-template-columns: 150px auto 200px; */
  margin-top: 1em;
  padding: 1em;

  /* background: $background-dark; */
}
.pitch-logo {
  /* grid-row: span 3; */
  padding: .5em;
  object-fit: contain;
}

.pitch-title {
  // margin: 0;
  font-family: Ubuntu;
  font-size: 2em;
  font-weight: 300;
  color: $accent;

  & > small {
    color: $text-col;
    font-family: "Roboto Mono";
  }
}

.header-content {
  flex-grow: 1;
}

.labels {
  display: flex;
  flex-wrap: wrap;
  gap: .25em .5em;
  margin: 0;
}

.desc {
  max-width: 400px;
  font-size: 1.1em;
}
/*
.custom-indev {
  --bg: #{$background};
  border-radius: 0;
  height: 1em;

  & > div {
    font-size: 1em;
    padding: 0;
    padding-inline: 1em;
  }
} */
