@use "../../styles/variables" as *;

@use "sass:math";
@use "sass:color";

.showcase-grid {
  $gap: 1.25em;
  $col: 3;
  display: grid;
  grid-template-columns: repeat($col, calc(math.div(100%, $col) - $gap));
  grid-gap: $gap;
}

.comps-used-btn {
  font-size: .9em;
  padding: .6em;

  &.toggled {
    color: $background-dark;
    background: $text-col;;
  }
}

.comps-used-list {
  position: absolute;

  display: none;
  flex-wrap: wrap;
  gap: .5em;

  top: 0;
  /* left: 1em; */
  padding: 0 1em;
}

.comps-used-btn.toggled {
  color: $background-dark;
  background: $text-col;;
}

.entry:has(.comps-used-btn.toggled) {

  & .thumb img {
    filter: blur(9px) brightness(55%) grayscale(50%);
  }
  & .comps-used-list {
    display: flex;
  }
}

.entry {
  padding-inline: .5em;

  & .title {
    margin: 0;
    margin: .5em;
    font-size: 1.2em;

    display: grid;
    column-gap: 1em;
    grid-template-columns: auto min-content;
    grid-template-rows: auto auto;

    & > a {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & > .action {
      grid-row: span 2;
    }
  }

  & .author {
    grid-row: 2 / 2;

    margin-top: .5em;
    margin-bottom: .7em;

    font-size: .8em;
    font-weight: normal;
  }

  & .thumb {
    position: relative;

    height: 300px;

    --l: linear-gradient(180deg, #fff 60%, #0000);
    -webkit-mask-image: var(--l);
    mask-image: var(--l);
    mask-type: alpha;

    border: 1px solid $border-col;
    border-radius: 7px 7px 0 0;

    overflow: hidden;

    & > img {
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      transition:
        top 1.5s ease
      , filter .5s ease
      ;

      &.hovered {
        top: calc(var(--img-height) + 100%);
      }
    }

  }

  & .type {
    display: flex;
    align-items: center;
    margin-bottom: .75em;
  }

  & .info {
    position: relative;

    color: color.mix($text-col, $background-dark, 75%);
    transform: translate(1em, -1.5em);
    font-size: .8em;

    & .icon {
      margin-right: .5em;
    }
  }
}

.profile-page-tag {
  display: inline-block;
  font-family: "Roboto Mono";
}
