@import url('https://fonts.googleapis.com/css2?family=Lora&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.custom-docslnk {
/*  margin:0 !important; */
  display: block;
}
.custom-docslnk:after{
  content: "  \279C";
}

.formatted_description p {
  max-width: 60em;
  margin: 1em auto;
}

.custom-prevheading {
  position: relative;
  font-size: 250%;
  font-weight: bold;
  text-align: center;
  letter-spacing: .1ch;
  text-decoration: 4px underline dashed var(--itchio_link_color)
}

#wrapper blockquote {
  font-style: normal;
  border-color: var(--itchio_link_color);
}
#wrapper blockquote > p > :first-child {
  color: var(--itchio_link_color);
  display: block;
}

.game_devlog_post_page h1, .game_devlog_post_page h2{
  color: var(--itchio_link_color);
  padding-bottom: .2em;
  border-bottom: 1px solid var(--itchio_bg2_sub);
}

.game_devlog_post_page code{
  padding: .1em .4em;
  font-size: 95%;
  background: var(--itchio_bg2_sub);
  border-radius: 4px;
}

.responsive #inner_column {
  max-width: 1100px;
/*   max-width: px; */
}
/* .custom-hl{
  display: flex;
  
  max-width: 90vw !important;
  
} */
.custom-ft{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 100%;
  justify-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 !important;
  margin: 3em auto;
/*   margin-bottom:2.5em; */
  max-width: 900px;
}
.custom-ft li::marker{
  content:"";
}
.custom-ft li{
  max-width: 12em;
  padding: 1.6em;
  border-radius: 4px;
  border: 1px solid var(--itchio_border_color);
/*   border: 1px solid var(--itchio_link_color); */
  border-bottom: .5em solid var(--itchio_link_color);
}
.custom-ft img{
  max-height: 36px;
  display: block;
  margin: auto;
  margin-bottom: 2em;
}

.formatted_description > div > div.text-center{
  font-family: 'Ubuntu';
  color: var(--itchio_link_color);
  font-size: 1.7em;
/*   margin: 1.5em 0 3em 0; */
  margin: .7em 0;
}
.formatted_description > div > div.text-center + p {
  max-width: 24em;
  margin-top: 2em;
  margin-bottom: 2em;
}
.formatted_description blockquote{
  max-width: 26em;
}

.custom-pge:after{
  display: inline-block;
  content:"game";
  width: 6ch !important;
  text-align: center;
  animation: p 2s linear infinite;
  transform: rotate(4.5deg);
  color: var(--itchio_text_color);
  font-weight: bold;
  margin:0 1ch;
}@keyframes p {
  0% {content:"game"}
  25% {content:"tool"}
  50% {content:"asset"}
  75% {content:"devlog"}
}



@media (max-width: 650px){
  .custom-hl{flex-wrap: wrap;
    max-width: 80vw !important;
  }
}

.inner_column > .view_game_page {
  border-top: 2px solid #eaeaea;
}
.right_col.column{
  display: none !important;
}
.header_buy_row{
  margin-top: 2em;
  text-align: center;
}

.header_buy_row p {
  display:  none;
}




#wrapper {
  --b: var(--itchio_bg_color);
  --b2: var(--itchio_bg2_color);
  --b2s: var(--itchio_bg2_sub);
  --t: var(--itchio_text_color);
  --l: var(--itchio_link_color);
  --br: var(--itchio_border_color);
  --btn: var(--itchio_button_color);
  --btn_f: var(--itchio_button_fg_color);
  --btn_s: var(--itchio_button_shadow_color);
}


.custom-prevcont {
  position: relative;
  padding-top: .5em;
  overflow: auto;
  max-height: 100vh;
/*   outline: 1px solid #fff4; */
}
.custom-prevcont > span {
  position: relative;
  z-index: 2;
/*   font-size: 1em; */
  vertical-align: .8em;
  color: var(--itchio_bg_color)
}

.custom-prevhead {
  position: absolute;
  top:0;
  width: 100%;
  height: 2.8em;
/*   background: var(--itchio_border_color); */
  background: var(--itchio_text_color);
  box-shadow: 0 0 6px #000a;
/*   z-index: -1; */
}

.custom-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--b2);
/*   padding: 2em 0; */
  padding: .2em;
  border: 3px dashed  var(--itchio_text_color);
  border-top: 0;
/*   outline: 2px dashed #fff4; */
  color: var(--t);
}
.custom-preview a {
  color: var(--l);
}
.custom-preview ul {
  padding-left: .5em
}
.custom-preview > div {
  margin: .4em;
  padding: .8em 1.8em;
  min-width: 30%;
  box-shadow: 0 0 2px var(--btn);
}
.custom-preview > div > h4 + * {
  margin-top: 0;
}

.custom-preview {
  display: grid;
  grid-template-columns:
      1fr 1fr 2fr
    ;
}
.custom-preview > div:last-child{
  text-align: center;
  box-shadow: none;
  opacity: .6;
  grid-column: 1/4;
}
.custom-preview > div:nth-child(4) {
  grid-column: 1/3
}


.custom-prevctrl {
  position: sticky;
  top: 0;
  display: inline-block;
  background: red;
  height: 28px;
  width: 28px;
  margin: .2em .5em;
  border-radius: 6px;
  z-index: 3;
  box-shadow: 0 0 6px #000a;
}
.custom-prevctrl:hover {
  outline: 2px solid #fff;
}

.custom-prevctrl:nth-child(1){
  margin-left: 1em;
  background: linear-gradient( 135deg, #f16f19 50%, #f8fac6 50%);
}
.custom-prevctrl:nth-child(1):hover ~ .custom-preview{
  font-family: 'Lora', serif;
  --b: #e3e3e3;
  --b2: #3f2832;
  --b2s: #533c46;
  --t: #f8fac6;
  --l: #f16f19;
  --br: #694957;
  --btn: #f16f19;
  --btn_f: #ffffff;
  --btn_s: #dc5a03;
}

.custom-prevctrl:nth-child(2){
  background: linear-gradient( 135deg, #d2e3e5 50%, #135a60 50%);
}
.custom-prevctrl:nth-child(2):hover ~ .custom-preview{
  font-family: 'Indie Flower', cursive;
  --b: #000000;
  --b2: #ebfcfe;
  --b2s: #d2e3e5;
  --t: #135a60;
  --l: #445c9e;
  --br: #aaeaf1;
  --btn: #445c9e;
  --btn_f: #ffffff;
  --btn_s: #5c74b6;
}

.custom-preview .custom-crdt > div > a {
  color: var(--l);
}

#view_game_footer {
  background: var(--itchio_text_color);
  color:var(--itchio_bg_color);
}
#view_game_footer svg {
  fill: var(--itchio_bg_color) !important;
}



@media (max-width: 590px){
  .custom-ft {
    grid-template-columns: 70%;
    grid-template-rows: 30% 30% 30%;
  }
  .custom-ft > li:not(:first-child) img {
    margin-top: 3em;
  }
}


/* ================================================================================================ */


/***** ACCORDION - START *****/
.custom-accrd {  
  max-width: 553px;
  margin: auto;
  border: 1px solid var(--t);
  border-color: var(--l);
  border-radius: 3px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  overflow: hidden;
}

.custom-accrd details {
  background: var(--b2s);
  padding: .75em 1.2em;
}

.custom-accrd details:not(:last-child) {
  border-bottom: 1px solid var(--t);
  border-color: var(--l);
}

.custom-accrd details[open] summary:after {
  content: "\25BC";
}

.custom-accrd details[open] summary {
  margin-bottom: .25em;
}

.custom-accrd summary {
  font-size: 105%;
  cursor: pointer;
  color: var(--l);
  display: flex;
}

.custom-accrd summary:hover {
  color: var(--t);
  text-decoration: underline;
}

.custom-accrd summary::after {
  text-align: right;
  flex-grow: 1;
  content: "\25BA";
}

.custom-accrd.custom-left {
  margin: 0;
}

.custom-accrd.custom-right {
  margin: 0 0 0 auto;
}

.custom-accrd.custom-full_w {
  max-width: 100%;
}
/***** ACCORDION - END *****/



/***** CREDITS - START *****/
.custom-crdt {
  display: grid;
  grid-template-columns: 25% 60%;
}

.custom-crdt > div {
  margin: 2px 8px;
}

.custom-crdt > div:nth-child(odd) {
  text-align: right;
  font-weight: 700;
  opacity: .7;
}

.custom-crdt > div > a {
  display: inline-block;
}

.custom-crdt div > a:not(:last-child):after {
  position: absolute;
  content: ",";
  margin-right: 1em;
  color: var(--t);
}
/***** CREDITS - END *****/



/***** INPUTS - START *****/
#wrapper kbd {
  font-size: .9em;
  background: var(--br);
  border-radius: 4px;
  border-bottom: 2px solid var(--b2s);
  padding: .2ch .7ch;
}
/***** INPUTS - END *****/



/***** LABELS - START *****/
.custom-lb, .custom-tag {
  background: var(--btn);
  color: var(--btn_f) !important;
  text-decoration: none;
  padding: 0 1ch;
  margin: .15em;
  font-weight: 700;
  border-radius: 4px;
  display: inline-block;
}

p .custom-lb {
  margin: 0 .15em;
}

.custom-tag {
  font-family: Lato, sans-serif;
  margin-right: 1em;
}

.custom-tag:before {
  content: "\2022";
  margin-right: .5ch;
  color: var(--b2s);
}

.custom-tag:after {
  content: "";
  position: absolute;
  margin-left: .75ch ;
  border-top: 1ch solid #fff0;
  border-bottom: 1.2ch solid #fff0;
  border-left: 1.2ch solid var(--btn);
  border-radius: 4px;
}
/***** LABELS - END *****/



/***** SPOILER - START *****/
.custom-hd:not(:hover) {
  background: currentColor;
}
/***** SPOILER - END *****/


