.formatted_description .text-center img{
  height: 400px;
}
.formatted_description > div > h2{
  border-bottom: 1px solid #fff5;
}
.formatted_description > div > h2 span{
  font-size: .65em;
  font-weight: normal;
  margin-left: 1em;
  opacity: .65;
  color:var(--itchio_link_color);
}
.formatted_description > div > h1,
.custom-hl h1{
  color:var(--itchio_link_color);
  border-left:.2em solid;
  padding-left: .5em;
  margin-left: -.6em;
  letter-spacing: .1ch;
}
.custom-hl .custom-crd {
  margin-right: 3em;
  margin-left: 2em;
}
.formatted_description > div > h1 + h2{
  margin-top:0;
}


#wrapper code {
  color:var(--itchio_link_color);
}
#wrapper > .inner_column {
  max-width: 1100px
}
.custom-hl{
  display: flex;
  
  max-width: 90vw !important;
  
}
.custom-ft{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 100%;
  justify-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 !important;
  margin-bottom:4em;
}
.custom-ft li::marker{
  content:"";
}
.custom-ft li{
  max-width: 12em;
  padding: 1.6em;
  border-radius: 4px;
  border: 1px solid var(--itchio_border_color)
}
.custom-ft img{
  max-height: 36px;
  display: block;
  margin: auto;
  margin-bottom: 2em;
}

.formatted_description > div > div.text-center{
  color: var(--itchio_link_color);
  font-size: 1.5em;
/*   margin: 1.5em 0 3em 0; */
  margin: 1em 0 2em 0;
}

.custom-pge:after{
  display: inline-block;
  content:"game";
  width: 5ch !important;
  text-align: center;
  animation: p 2s linear infinite;
  transform: rotate(4.5deg);
  color: var(--itchio_text_color);
  font-weight: bold;
  margin:0 1ch;
}@keyframes p {
  0% {content:"game"}
  25% {content:"tool"}
  50% {content:"asset"}
  75% {content:"jam"}
}



@media (max-width: 650px){
  .custom-hl{flex-wrap: wrap;
    max-width: 80vw !important;
  }
}

.formatted_description > div > p
{
  max-width: 80vw;
}

.custom-crd{
  border: 3px dashed var(--itchio_link_color);
  width: 560px;
  border-radius: 4px;
  background:  color-mix( in srgb, var(--itchio_bg2_color) 92.5%, var(--itchio_text_color) );
  margin-bottom: 2em;
}
.custom-crd.custom-crd_head > *:not(:first-child){
  padding: 0 2em;
}
.custom-crd.custom-crd_head > :first-child{
  padding: .5em 1em;
  font-size: 1.2em;
  background: var(--itchio_link_color);
  color: var(--itchio_bg2_color);
}
.custom-sm{max-width:560px; margin:auto !important}

.inner_column > .view_game_page {
  border-top: 2px solid #eaeaea;
}
.right_col.column{
  display: none !important;
}
.header_buy_row{
  margin-top: 2em;
  text-align: center;
}

.header_buy_row p {
  display:  none;
}




#wrapper {
  --b: var(--itchio_bg_color);
  --b2: var(--itchio_bg2_color);
  --b2s: var(--itchio_bg2_sub);
  --t: var(--itchio_text_color);
  --l: var(--itchio_link_color);
  --br: var(--itchio_border_color);
  --btn: var(--itchio_button_color);
  --btn_f: var(--itchio_button_fg_color);
  --btn_s: var(--itchio_button_shadow_color);
}


.custom-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--b2);
  padding: 2em 0;
  outline: 2px dashed #fff4;
  color: var(--t);
}
.custom-preview > div {
  margin: .4em;
  padding: .8em 1.8em;
  min-width: 30%;
  box-shadow: 0 0 2px var(--btn);
}
.custom-preview > div > h4 + * {
  margin-top: 0;
}

.custom-preview > div:nth-child(1) {
  width: 20%;
}
.custom-preview > div:nth-child(2) {
  width: 50%;
}
.custom-preview > div:nth-child(4),
.custom-preview > div:nth-child(5){
  width: 25%;
}
.custom-prevctrl {
  display: inline-block;
  background: red;
  height: 28px;
  width: 28px;
  margin: .2em .5em;
  border-radius: 6px;
}
.custom-prevctrl:hover {
  outline: 2px solid #fff;
}

.custom-prevctrl:nth-child(1){
  background: linear-gradient( 135deg, #f16f19 50%, #f8fac6 50%);
}
.custom-prevctrl:nth-child(1):hover ~ .custom-preview{
  --b: #e3e3e3;
  --b2: #3f2832;
  --b2s: #533c46;
  --t: #f8fac6;
  --l: #f16f19;
  --br: #694957;
  --btn: #f16f19;
  --btn_f: #ffffff;
  --btn_s: #dc5a03;
}

.custom-prevctrl:nth-child(2){
  background: linear-gradient( 135deg, #d2e3e5 50%, #135a60 50%);
}
.custom-prevctrl:nth-child(2):hover ~ .custom-preview{
  --b: #000000;
  --b2: #ebfcfe;
  --b2s: #d2e3e5;
  --t: #135a60;
  --l: #445c9e;
  --br: #aaeaf1;
  --btn: #445c9e;
  --btn_f: #ffffff;
  --btn_s: #5c74b6;
}

.custom-preview .custom-crdt > div > a {
  color: var(--l);
}

#view_game_footer{
  background: var(--itchio_text_color);
  color:var(--itchio_bg_color);
}
#view_game_footer svg {
  fill: var(--itchio_bg_color) !important;
}



@media (max-width: 590px){
.custom-ft{
  grid-template-columns: 70%;
  grid-template-rows: 30% 30% 30%;
}
  .custom-ft > li:not(:first-child) img {
    margin-top: 3em;
  }
}



/* ================================================================================================ */
/* ================================================================================================ */
/* ================================================================================================ */




/***** ACCORDION - START *****/
.custom-accrd {  
  max-width: 553px;
  margin: auto;
  border: 1px solid var(--t);
  border-color: var(--l);
  border-radius: 3px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  overflow: hidden;
}

.custom-accrd details {
  background: var(--b2s);
  padding: .75em 1.2em;
}

.custom-accrd details:not(:last-child) {
  border-bottom: 1px solid var(--t);
  border-color: var(--l);
}

.custom-accrd details[open] summary:after {
  content: "\25BC";
}

.custom-accrd details[open] summary {
  margin-bottom: .25em;
}

.custom-accrd summary {
  font-size: 105%;
  cursor: pointer;
  color: var(--l);
  display: flex;
}

.custom-accrd summary:hover {
  color: var(--t);
  text-decoration: underline;
}

.custom-accrd summary::after {
  text-align: right;
  flex-grow: 1;
  content: "\25BA";
}

.custom-left {
  margin: 0;
}

.custom-right {
  margin: 0 0 0 auto;
}

.custom-full_w {
  max-width: 100%;
}
/***** ACCORDION - END *****/



/***** COLLAPSABLE - START *****/
.custom-cl summary {
  background: var(--btn);
  color: var(--btn_f);
  margin:.5em;
  border-radius: 4px;
  padding: 0 .5em;
  max-width: min-content;
  white-space: nowrap;
  cursor: pointer;
}
/***** COLLAPSABLE - END *****/



/***** CREDITS - START *****/
.custom-crdt {
  display: grid;
  grid-template-columns: 25% 60%;
}

.custom-crdt > div {
  margin: 2px 8px;
}

.custom-crdt > div:nth-child(odd) {
  text-align: right;
  font-weight: 700;
  opacity: .7;
}

.custom-crdt > div > a {
  display: inline-block;
}

.custom-crdt div > a:not(:last-child):after {
  position: absolute;
  content: ",";
  margin-right: 1em;
  color: var(--t);
}
/***** CREDITS - END *****/



/***** INPUTS - START *****/
#wrapper kbd {
  font-size: .9em;
  background: var(--br);
  border-radius: 4px;
  border-bottom: 2px solid var(--b2s);
  padding: .2ch .7ch;
}
/***** INPUTS - END *****/



/***** LABELS - START *****/
.custom-lb, .custom-tag {
  background: var(--btn);
  color: var(--btn_f) !important;
  text-decoration: none;
  padding: 0 1ch;
  margin: .4ch;
  font-weight: 700;
  border-radius: 4px;
  display: inline-block;
}

.custom-tag {
  font-family: Lato, sans-serif;
  margin-right: 1em;
}

.custom-tag:before {
  content: "\2022";
  margin-right: .5ch;
  color: var(--b2s);
}

.custom-tag:after {
  content: "";
  position: absolute;
  margin-left: .75ch ;
  border-top: 1ch solid #fff0;
  border-bottom: 1.2ch solid #fff0;
  border-left: 1.2ch solid var(--btn);
  border-radius: 4px;
}
/***** LABELS - END *****/



/***** SPOILER - START *****/
.custom-hd:not(:hover) {
  color: var(--t);
  background: var(--t);
}
/***** SPOILER - END *****/


