@font-face {
  font-family: "Flow Rounded";
  font-display: block;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/flow-rounded@latest/latin-400-normal.woff2) format("woff2");
}

body:not(:has(.game_page_apperance_columns))
  #user_tools:not(:has(.has_rating))
    ~ #wrapper {

  & [class*="custom-raters-only-"] {
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
  }

  & .custom-raters-only-hidden {
    display: none !important;
  }

  & .custom-raters-only-blurred {
    filter: blur(10px);
  }

  & .custom-raters-only-text {
    font-family: 'Flow Rounded' !important;
  }
}
