.custom-accrd {
  max-width: 553px;

  /* Center the accordion by default */
  margin: auto;

  /* Outer border */
  border: 1px solid var(--br);
  border-radius: 3px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  & > *, details {
    padding: .75em 1.2em;
    margin: 0;
  }

  & > details {
    &[open] summary {
      margin-bottom: .25em;

      &:after {
        content: ("\25BC"); /* Marker when its opened */
      }
    }

    /* Add border in between accordion item */
    &:not(:last-child) {
      border-bottom: 1px solid var(--br);
    }
  }

  & summary {
    font-size: 105%;
    cursor: pointer;
    color: var(--l);
    display: flex; /* Remove the default marker */

    &:hover {
      color: var(--t);
      text-decoration: underline;
    }

    /* Change the default marker */
    &::after {
      text-align: right;
      flex-grow: 1; /* Move the new marker to the most right */
      content: "\25BA"; /* Marker when its closed */
    }

    /* Remove the default marker on itch app */
    &::-webkit-details-marker{
      display: none;
    }
  }

  /* Utility classes */
  &.custom-left {
    margin-left: 0;
  }

  &.custom-right {
    margin-left: auto;
  }

  &.custom-full-w {
    max-width: 100%;
  }
}