.custom-code {
  position: relative;
  padding: .5em;
  // padding-top: 2.5em;

  background: var(--b2s);

  font-size: 14px;

  word-wrap: normal;
  white-space: pre-wrap;
  overflow: auto;

  border-radius: 3px;

  counter-reset: ln;

  // &::before {
  //   content: attr(title);

  //   position: absolute;
  //   top: 0;
  //   left: 0;

  //   width:100%;
  //   padding: .5em;

  //   font-size: .8em;

  //   border-bottom: 2px solid var(--br);
  // }

  & > code {
    // --lw: 3.5em;
    position: relative;
    display: block;

    // padding-left: var(--lw);
    padding-left: 3em;
    // margin-left: 2em;

    &::after {
      counter-increment: ln;
      content: counter(ln);

      position: absolute;
      display: inline-block;
      left: 0;
      top: 0;

      width: 2em;

      padding-right: .5em;

      // what the fu
      // width: calc(var(--lw) * 2);

      // padding-left: var(--lw);
      // padding-right: 1em;
      // margin-left: calc(-1.25 * var(--lw));

      text-align: right;
      font-family: monospace;

      opacity: .6;

      border-right: 2px solid var(--br);
    }
  }
}

.custom-hl::before {
  content: "-"; // ???

  position: absolute;
  left: -.5em;
  width: 100%;

  padding-left: 1em;

  color: #0000;
  background: var(--l);

  opacity: .25;
}