#wrapper dl {
  display: grid;
  grid-template-columns: 25% 60%;

  & > * {
    margin: .2em 8px;
  }

  & > dt {
    text-align: right;
    font-weight: 700;
  }

  /* Add commas for every hyperlink elements */
  & > dd > a:not( :last-child, .custom-lb, .custom-tag, kbd ):after {
    color: var(--t);
    content: ",";
    margin-right: .2em;
  }
}