:is(
  .custom-dot-leader-item,
  ul.custom-dot-leader > li
).custom-no-dot > :last-child::before {
  border-bottom: none !important;
}

ul.custom-dot-leader, .custom-dot-leader-item {
  list-style: none;
  max-width: 100%;
  padding: 0;
}

:where(
  .custom-dot-leader-item,
  ul.custom-dot-leader > li:not(
    :has(.custom-dot-leader)
  ):has(
    > :nth-child(2):last-child
  ) // bruh
) {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  & > :last-child {
    display: flex;
    flex-grow: 1;

    &::before {
      content: "";
      flex-grow: 1;
      height: 1em;
      margin: 0 .3em;
      border-bottom: .2em dotted currentColor;
      opacity: .8;
    }
  }
}
