.custom-img-compare {
  position: relative;
  width: fit-content;
  padding-bottom: 1em;
  margin: auto;

  // Responsiveness
  & img {
    display: block;
    height: 100%;
    max-width: unset;
  }

  & > img {
    max-width: 100%;
  }

  // Overlay image
  & > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    max-width: 100%;
    width: 50%;

    padding-bottom: 1em;

    overflow: hidden;
    resize: horizontal;

    // Separator line
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;

      height: calc(100% - .2rem);
      border-right: 2px solid var(--l);
    }

    // Slider handle 'styling'
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: calc(-.5em + 1px);

      background: var(--l);
      height: .8rem;
      width: 1.25rem;

      clip-path: circle(50%);
    }
  }
}
