dl.custom-info {
  display: grid;
  grid-template-columns: auto auto;

  & > * {
    margin: .2em 8px;
  }

  & > dt {
    text-align: right;
    font-weight: 700;
  }

  &.custom-left {
    grid-template-columns: min-content auto;
  }

  &.custom-right {
    grid-template-columns: auto min-content;
  }
}