
.custom-speed-dial {
  display: flex;
  position: fixed !important;
  bottom: 1em;
  right: 1em;
  flex-direction: column;
  align-items: center;
  width: fit-content;

/*   960px */
/*   right: calc((100vw - 960px) * .5); */
/*   transform: translateX(calc(100% + 1em)); */
}
// .custom-speed-dial.custom-tip {
//   position: fixed;
// }
.custom-speed-dial > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: .5em;
}

.custom-speed-dial-btn:hover img {
  box-shadow: none !important;
}
.custom-speed-dial-btn:hover::after {
  display: none;
}
.custom-speed-dial * {
  box-sizing: content-box;
}

.custom-speed-dial > details > summary,
.custom-speed-dial-btn {
  display: flex !important;
  justify-content: center;
  align-items: center;

  width: 1.3em;
  height: 1.3em;
  padding: .5em;
  margin: .5em auto;
  // text-align: center;
  // color: var(--btn_f);
  background: var(--btn);
  // aspect-ratio: 1 / 1;
  border-radius: 50%;
  box-shadow: 0 0 1.5em -.5em var(--btn_s);
  transition: transform .15s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.custom-speed-dial > details > summary:hover,
.custom-speed-dial-btn:hover {
  transform: scale(1.15);
}
.custom-speed-dial-btn:hover > .custom-tip-content.custom-left {
  transform: translate(-100%, 50%) scale(.85);
}
.custom-speed-dial > details img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s ease;
}
.custom-speed-dial > details > summary {
  position: relative;
  
  width: 2em;
  height: 2em;

  display: flex; /* Remove the default marker */

  cursor: pointer;
  margin: 0;
  padding: .5em;
}
.custom-speed-dial > details > summary::-webkit-details-marker {
  display: none;
}
.custom-speed-dial:has(>details[open]) > .custom-tip-content {
  opacity: 1;
  transform: translate(calc(-100% - 0.5em), 50%);
}
.custom-speed-dial > details[open] img:first-of-type,
.custom-speed-dial > details:not([open]) img:nth-of-type(2) {
  opacity: 0;
  transform: translate(-50%, calc(-50% - .5em));
}

.custom-speed-dial:has(> details:not([open])) .custom-speed-dial-content li {
  opacity: 0;
  transform: translateY(.5em);
}
.custom-speed-dial:has(> details:not([open])) .custom-speed-dial-content {
  pointer-events: none;
/*  Fucking terrifying  */
  max-height: 0;
  transition: max-height 1.4s;
/*   display: none; */
}

.custom-speed-dial > .custom-tip-content.custom-left {
  bottom: 1.5em !important;
}


.custom-speed-dial-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100vh;
}
.custom-speed-dial-content li {
  transition: .5s ease var(--d, 0s);
}
.custom-speed-dial-content > li:nth-last-child(2) { --d: .2s }
.custom-speed-dial-content > li:nth-last-child(3) { --d: .4s }
.custom-speed-dial-content > li:nth-last-child(4) { --d: .6s }
.custom-speed-dial-content > li:nth-last-child(5) { --d: .8s }
.custom-speed-dial-content > li:nth-last-child(6) { --d: 1s }
/* 
.custom-speed-dial > details {
  display: flex;
  width: 100%;
  height: 100%;
} */

@media (max-width: 650px) {
  .custom-speed-dial {
    bottom: calc(50px + 1em);
  }
}
