.custom-tip {
  position: relative;

  &:has(> img) {
    display: inline-block;

    & > img {
      position: relative;
    }
  }

  & > .custom-tip-content {
    position: absolute;
    bottom: calc(-100% - .25em);
    left: 50%;
    bottom: 0;
    height: fit-content;
    padding: .2em .5em;
    background: var(--b2);
    border: 1px solid var(--br);
    border-radius: 6px;
    pointer-events: none;
    white-space: nowrap;
    z-index: 99;

    transition: .25s ease;

    opacity: 0;
    transform: translate(-50%, 100%);

    &.custom-top {
      bottom: 100%;
      transform: translate(-50%, 0);
    }

    &.custom-left {
      left: 0;
      bottom: 50%;
      transform: translate(-100%, 50%);
    }

    &.custom-right {
      left: 100%;
      bottom: 50%;
      transform: translate(0, 50%);
    }
  }

  &:hover {
    $offset: .5em;

    & > .custom-tip-content {
      opacity: 1;
      transform: translate(-50%, calc(100% + $offset));

      &.custom-top {
        transform: translate(-50%, -$offset);
      }

      &.custom-left {
        transform: translate(calc(-100% - $offset), 50%);
      }

      &.custom-right {
        transform: translate($offset, 50%);
      }
    }
  }
}

abbr.custom-tip {
  text-decoration: 2px underline dotted var(--l);
}