@font-face {
  font-family: "FA Tree List - Directory";
  /*src: url("./icons.woff2") format("woff2");*/
  src: url("https://cdn.jsdelivr.net/gh/nndda/Pitch@16c8bd97133cebe0208d2cfbc64e0527a92ba65c/src/pages/component/components/list/tree-list/directory/icons.woff2") format("woff2");
}

.custom-tree.custom-directory {
  & ul ul {
    padding-block: .5em;
    padding-left: calc(var(--tree-list-indent, 1em) * .5);
  }

  & li {
    padding-left: 1em;

    &::before, .custom-file::before {
      position: absolute;
      font-family: "FA Tree List - Directory";
      content: "\f15b";
      line-height: 0;
      padding-left: .75em;
      top: .75em;
    }

    &:is(:has(> ul), .custom-dir) {
      --col: var(--tree-list-dir-col, var(--l));

      &::after {
        border-color: var(--col);
        top: -.1em;
      }

      &::before {
        color: var(--col);
        content:"\f07c";
        padding-left: .5em;
      }
    }
  }
}
